JAXWSWebServiceServer/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="com.arun.example.jaxws.soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="com.arun.example.jaxws.soap"
	name="CalculatorImplService">
	<types></types>
	<message name="add">
		<part name="arg0" type="xsd:int"></part>
		<part name="arg1" type="xsd:int"></part>
	</message>
	<message name="addResponse">
		<part name="return" type="xsd:int"></part>
	</message>
	<message name="divide">
		<part name="arg0" type="xsd:int"></part>
		<part name="arg1" type="xsd:int"></part>
	</message>
	<message name="divideResponse">
		<part name="return" type="xsd:int"></part>
	</message>
	<message name="subtract">
		<part name="arg0" type="xsd:int"></part>
		<part name="arg1" type="xsd:int"></part>
	</message>
	<message name="subtractResponse">
		<part name="return" type="xsd:int"></part>
	</message>
	<message name="multiply">
		<part name="arg0" type="xsd:int"></part>
		<part name="arg1" type="xsd:int"></part>
	</message>
	<message name="multiplyResponse">
		<part name="return" type="xsd:int"></part>
	</message>
	<portType name="CalculatorI">
		<operation name="add" parameterOrder="arg0 arg1">
			<input wsam:Action="com.arun.example.jaxws.soap/CalculatorI/addRequest"
				message="tns:add"></input>
			<output wsam:Action="com.arun.example.jaxws.soap/CalculatorI/addResponse"
				message="tns:addResponse"></output>
		</operation>
		<operation name="divide" parameterOrder="arg0 arg1">
			<input wsam:Action="com.arun.example.jaxws.soap/CalculatorI/divideRequest"
				message="tns:divide"></input>
			<output wsam:Action="com.arun.example.jaxws.soap/CalculatorI/divideResponse"
				message="tns:divideResponse"></output>
		</operation>
		<operation name="subtract" parameterOrder="arg0 arg1">
			<input wsam:Action="com.arun.example.jaxws.soap/CalculatorI/subtractRequest"
				message="tns:subtract"></input>
			<output wsam:Action="com.arun.example.jaxws.soap/CalculatorI/subtractResponse"
				message="tns:subtractResponse"></output>
		</operation>
		<operation name="multiply" parameterOrder="arg0 arg1">
			<input wsam:Action="com.arun.example.jaxws.soap/CalculatorI/multiplyRequest"
				message="tns:multiply"></input>
			<output wsam:Action="com.arun.example.jaxws.soap/CalculatorI/multiplyResponse"
				message="tns:multiplyResponse"></output>
		</operation>
	</portType>
	<binding name="CalculatorImplPortBinding" type="tns:CalculatorI">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc"></soap:binding>
		<operation name="add">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal" namespace="com.arun.example.jaxws.soap"></soap:body>
			</input>
			<output>
				<soap:body use="literal" namespace="com.arun.example.jaxws.soap"></soap:body>
			</output>
		</operation>
		<operation name="divide">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal" namespace="com.arun.example.jaxws.soap"></soap:body>
			</input>
			<output>
				<soap:body use="literal" namespace="com.arun.example.jaxws.soap"></soap:body>
			</output>
		</operation>
		<operation name="subtract">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal" namespace="com.arun.example.jaxws.soap"></soap:body>
			</input>
			<output>
				<soap:body use="literal" namespace="com.arun.example.jaxws.soap"></soap:body>
			</output>
		</operation>
		<operation name="multiply">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal" namespace="com.arun.example.jaxws.soap"></soap:body>
			</input>
			<output>
				<soap:body use="literal" namespace="com.arun.example.jaxws.soap"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="CalculatorImplService">
		<port name="CalculatorImplPort" binding="tns:CalculatorImplPortBinding">
			<soap:address location="http://localhost:9993/calcServer"></soap:address>
		</port>
	</service>
</definitions>